<div class="infoLeft">
    <h2>Quiénes somos</h4>
    <p>En AstroLvL transformamos ideas en experiencias digitales.
        Creamos sitios web y aplicaciones con tecnologías modernas, diseño atractivo y foco en el rendimiento.
        Ya sea que necesites una landing page, una app web o una solución completa para tu negocio, nosotros lo hacemos posible.
        Trabajamos con dedicación, cuidamos los detalles y priorizamos lo más importante: que tu proyecto funcione bien y se vea increíble.
    </p>
    <img src='/images/webagency.png' alt='web-agency' width='350' height='250' class='infoLeft__img'/>
</div>
<style>
    .infoLeft{
        width:500px;
    }
    .infoLeft h2{
        font-size:1.5rem;
        position:relative;
        margin:0 10px
    }
    .infoLeft h2::before{
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:-10px;
        width:3px;
        height:30px;
        background-color:var(--color-main2);
    }
    .infoLeft p{
        width:350px;
        color:var(--color-dark2);
        margin-top:30px
    }
    .infoLeft__img{
        margin:20px 0;
    }
    @media screen and (max-width: 920px){
        .infoLeft{
            width: min-content;
        }
    }
    @media screen and (max-width: 768px){
        .infoLeft{
            margin:40px 0
        }
        .infoLeft h2{
            font-size:1.2rem;
        }
        .infoLeft p{
            width:400px;
            font-size:1rem
        }
        .infoLeft__img{
            width:300px;
            height:230px;
            display:block;
            margin:20px auto
        }
    }
    @media screen and (max-width:480px){
        .infoLeft h2{
            font-size:1.1rem;
        }
        .infoLeft p{
            width:300px;
            font-size:.9rem
        }
        .infoLeft__img{
            width:280px;
            height:160px;
        }
        .infoLeft h2::before{
            height:20px;
        } 
    }
</style>