---
import {InfoRight_Card} from "./InfoRight_Card.jsx";

---
<div class="infoRight">
    <h3>¿Cómo trabajamos?</h3>
    <div class="infoRight__cards">
        <InfoRight_Card/>
        <InfoRight_Card/>
        <InfoRight_Card/>
        <InfoRight_Card/>
        <InfoRight_Card/>
    </div>
</div>
<style>
    .infoRight{

    }
    .infoRight>h3{
        font-size:1.3rem;
        margin:20px 0
    }
    .infoRight__cards{
        
    }
</style>