---
import {InfoRight_Card} from "./InfoRight_Card.jsx";

const infoCards=[
  {
    "title": "Reunión inicial",
    "description": "Charlamos con vos para entender tus necesidades, ideas y objetivos.",
    "icon": "handshake"
  },
  {
    "title": "Planificación y propuesta",
    "description": "Analizamos la mejor solución técnica y diseñamos una propuesta a medida.",
    "icon": "clipboard"
  },
  {
    "title": "Desarrollo",
    "description": "Construimos tu sitio o app usando tecnologías modernas y buenas prácticas.",
    "icon": "code"
  },
  {
    "title": "Entrega y soporte",
    "description": "Publicamos tu proyecto y te acompañamos con mantenimiento y soporte.",
    "icon": "rocket"
  }
]
---
<div class="infoRight">
    <h2>¿Cómo trabajamos?</h2>
    <div class="infoRight__cards">
        {
            infoCards.map((card)=>(
                <InfoRight_Card title={card.title} description={card.description} icon={card.icon} />
            ))
        }
    </div>
</div>
<style>
    .infoRight{
    }
    .infoRight>h2{
        font-size:1.5rem;
        position:relative;
        margin:0 10px
    }
    .infoRight>h2::before{
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:-10px;
        width:3px;
        height:30px;
        background-color:var(--color-main2);
    }
    
    .infoRight__cards{
        
    }
    @media screen and (max-width: 768px){
        .infoRight>h2{
          font-size:1.2rem;
        }
    }
    @media screen and (max-width:480px){
        .infoRight>h2{
          font-size:1.1rem;
        }
        .infoRight>h2::before{
          height:20px;
        }    
    }
</style>