---
import InfoLeft from "./InfoLeft.astro"
import InfoRight from "./InfoRight.astro"
---

<section class="info">
    <h1>¿Por qué elegir nuestra agencia?</h1>
    <h3>A continuación te contamos por qué somos la mejor agencia de diseño de páginas web.</h3>
    <div class="info__content">
        <InfoLeft/>
        <InfoRight/>
    </div>
</section>
<style>
    .info{
        text-align:center; 
        padding:70px 0 70px 0;
        background-color: var(--bg-light1);
        color:var(--color-dark1);
    }
    .info>h1{
        margin:20px 0;
        font-size:3rem;
        background:linear-gradient(to left, var(--color-main2), var(--color-main1));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    .info>h3{
        color:var(--color-dark2)
    }
    .info__content{
        padding:50px 0;
        display:flex;
        justify-content:center;
        text-align:start;
    }
</style>