---
import InfoLeft from "./InfoLeft.astro"
import InfoRight from "./InfoRight.astro"
---

<section class="info">
    <h2>¿Por qué elegir nuestra agencia?</h2>
    <h3>A continuación te contamos por qué somos la mejor agencia de diseño de páginas web.</h3>
    <div class="info__content">
        <InfoLeft/>
        <InfoRight/>
    </div>
</section>
<style>
    .info{
        text-align:center; 
        margin-top:70px;
    }
    .info>h2{
        margin:20px 0;
        font-size:1.7rem
    }
    .info__content{
        display:flex;
        align-items:center;
        justify-content:space-evenly;

    }
</style>