---
import InfoRightCard from "./InfoRight_Card.astro";


---
<div class="InfoRight">
    <h4>¿Cómo trabajamos?</h4>
    <div class="InfoRight__cards">
        <InfoRightCard></InfoRightCard>
        <InfoRightCard></InfoRightCard>
        <InfoRightCard></InfoRightCard>
        <InfoRightCard></InfoRightCard>
        <InfoRightCard></InfoRightCard>
    </div>
    
</div>