<div class="infoLeft">
    <h2>Quiénes somos</h4>
    <p>En AstroLvL transformamos ideas en experiencias digitales.
        Creamos sitios web y aplicaciones con tecnologías modernas, diseño atractivo y foco en el rendimiento.
        Ya sea que necesites una landing page, una app web o una solución completa para tu negocio, nosotros lo hacemos posible.
        Trabajamos con dedicación, cuidamos los detalles y priorizamos lo más importante: que tu proyecto funcione bien y se vea increíble.
    </p>
    <img src='./public/images/webagency.png' alt='web-agency' width='400' height='300' class='infoLeft__img'/>
</div>
<style>
    .infoLeft{
        width:600px;
    }
    .infoLeft h2{
        font-size:1.5rem;
        position:relative;
        margin:0 10px
    }
    .infoLeft h2::before{
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:-10px;
        width:3px;
        height:30px;
        background-color:var(--color-main2);
    }
    .infoLeft p{
        width:400px;
        color:var(--color-dark2);
        margin-top:30px
    }
    .infoLeft__img{
        margin:20px 0;
    }
</style>