<div class="infoLeft">
    <h3>Quiénes somos</h4>
    <p>En AstroLvL transformamos ideas en experiencias digitales.
        Creamos sitios web y aplicaciones con tecnologías modernas, diseño atractivo y foco en el rendimiento.
        Ya sea que necesites una landing page, una app web o una solución completa para tu negocio, nosotros lo hacemos posible.
        Trabajamos con dedicación, cuidamos los detalles y priorizamos lo más importante: que tu proyecto funcione bien y se vea increíble.
    </p>
    <img src='./public/images/webagency.png' alt='web-agency' width='400' height='300' class='infoLeft__img'/>
</div>
<style>
    .infoLeft{
        width:600px;
        
    }
    .infoLeft h3{
        margin:20px 0;
        font-size:1.3rem
    }
    .infoLeft p{
        width:400px;
        color:rgb(20, 20, 20);
    }
    .infoLeft__img{
        margin:20px 0;
    }
</style>