---
import LogoMain from "../logoMain.astro"
---

<header class="header" id="home">
    <LogoMain/>
    <nav class="header__nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#faqs">FaQs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<style>
    .header{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__nav ul{
        display:flex;
        align-items: center;
        justify-content:space-evenly;
        width:500px;
    }
    .header__nav ul>li{
        list-style: none;
    }
    .header__nav ul>li>a{
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.2rem;
        font-weight: 300;
        transition: color .3s ease
    }
    .header__nav ul>li>a:hover{
        color:#0070f3;
    }
</style>
