---
import {LogoMain} from '../LogoMain.jsx'
---

<header class="header" id="home">
    <LogoMain/>
    <nav class="header__nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#faqs">FaQs</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<style>
    .header{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__nav ul{
        display:flex;
        align-items: center;
        justify-content:space-evenly;
        width:500px;
    }
    .header__nav ul>li{
        list-style: none;
        padding-bottom:10px;
        overflow: hidden;
    }
    .header__nav ul>li>a{
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.2rem;
        font-weight: 300;
        position:relative;
        transition: color .3s ease;
    }
    .header__nav ul>li>a:hover{
        color:#0070f3;
    }
    .header__nav ul>li>a::before{
        content:'';
        position:absolute;
        bottom:-5px;
        left:0;
        width: 100%;
        height:2px;
        border-radius:1px;
        background-color: var(--color-main2);
        transform:translateX(-100%);
        transition:transform .3s
    }
    .header__nav ul>li>a:hover::before{
        transform:translateX(0)
    }
</style>
