<section class='hero'>
    <div class="hero__text">
        <h1>🚀 Elevamos tu presencia digital al siguiente nivel</h1>
        <h2>Creamos sitios web, apps y soluciones personalizadas con las tecnologías más modernas. Desarrollo, mantenimiento y SEO en un solo lugar.</h2>
    </div>
    <button class="hero__button">
        <p>Contactar</p>
    </button>
    <div class="hero__carousel">
        <p>Rendimiento</p>
        <p>UX/UI</p>
        <p>Responsive Design</p>
    </div>
</section>
<style>
    .hero{
        width:100%;
    }
    .hero__text{
        width:700px;
        margin:100px auto;
        
    }
    .hero h1{
        text-align: center;
        font-size:2.5rem;
        margin:50px 0
    }
    .hero h3{
        width: 500px;
        text-align:center;
        margin:auto;
    }
    .hero__button{
        background-color:rgb(10, 204, 68);
        width:130px;
        height:40px;
        border-radius:20px;
        border:none;
        display:flex;
        align-items:center;
        justify-content:center;
        margin:20px auto;
        cursor:pointer;
        transition: transform .3s ease
    }
    .hero__button:hover{
        transform:scale(1.05)
    }
    .hero__button p{
        font-weight: bold;
    }
    .hero__carousel{
        width:100%;
        height:80px;
        background-color:rgb(64, 2, 105);
        display:flex;
        align-items:center;
        justify-content:space-around;
        color:whitesmoke;
        font-size:1.2rem
    }
</style>