---
import Header from "./Header.astro"
import Hero from "./Hero.astro"
---
<section class='heroContainer'>
    <Header/>
    <Hero/>
</section>
<style>
    .heroContainer{
        height:100vh
    }
</style>
