---
import Hero from './Hero.astro'
import {BgParticles} from './BgParticles.jsx'
const dataHeroCarousel=[
  "Desarrollo Web",
  "Aplicaciones",
  "UX/UI",
  "Diseño Responsive",
  "Velocidad",
  "Seguridad",
  "Optimización",
  "Escalabilidad",
  "Mantenimiento",
  "SEO"
]

---
<section class='heroContainer'>
    <Hero/>
    <BgParticles client:load />
    <div class="hero__containerCarousel-shadow"></div>
    <div class="hero__containerCarousel">
        <div class="hero__carousel">
        {
            dataHeroCarousel.map((item)=>(
                <p class='hero__carousel-p'>{item}</p>
            ))
        }
        </div>
        <div class="hero__carousel2">
            {
                dataHeroCarousel.map((item)=>(
                    <p class='hero__carousel-p'>{item}</p>
                ))
            }
        </div>
        <div class="hero__carousel3">
        {
            dataHeroCarousel.map((item)=>(
                <p class='hero__carousel-p'>{item}</p>
            ))
        }
        </div>
    </div>
    
</section>
<style>
    .heroContainer{
        width:100%;
        height:100vh;
        padding-top: 50px;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        position:relative;
        backdrop-filter: blur(50px);
        overflow-x: hidden;
    }
    .hero__containerCarousel{
        width:max-content;
        display:flex;
        transform:translateX(-33%);
        animation:slide 60s linear infinite alternate
    }   
    .hero__containerCarousel-shadow{
        position:absolute;
        bottom:0;
        left:0;
        width:100vw ;
        height: 100px;
    }
    .hero__containerCarousel-shadow::before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:200px;
        height:100px;
        z-index: 3;
        background:linear-gradient(to right,rgba(0, 0, 0, 0.999),transparent);
    }
    .hero__containerCarousel-shadow::after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        width:200px;
        height:100px;
        z-index: 3;
        background:linear-gradient(to left,rgba(0, 0, 0, 0.999),transparent);
    }
    .hero__carousel, .hero__carousel2, .hero__carousel3{
        width:max-content;
        height:100px;
        background-color:rgba(91, 22, 105, 0.116);
        display:flex;
        align-items:center;
        justify-content:space-between;
        color:var(--color-light1);
        font-size:1.2rem;
        position:relative;
    }
    .hero__carousel-p{
        display:block;
        display:flex;
        align-items: center;
        justify-content: center;
        width:400px;
        height: 100%;
        margin:0 5px;
        border-right:1px solid var(--color-main2);
        border-left:1px solid var(--color-main2)
    }
    @keyframes slide{
        100%{
            transform:translateX(-66%)
        }
    }
    @media screen and (max-width: 768px){
        .hero__carousel, .hero__carousel2, .hero__carousel3{
            height:90px;
        }
        .hero__carousel-p{
            width:300px;
        }
        .hero__containerCarousel-shadow{
            height: 90px;
        }
        .hero__containerCarousel-shadow::before{
            width:150px;
            height:90px;

        }
        .hero__containerCarousel-shadow::after{
            width:150px;
            height:90px;

        }   
    }
    @media screen and (max-width:480px){
        .hero__carousel, .hero__carousel2, .hero__carousel3{
            height:70px;
            font-size:1rem
        }
        .hero__carousel-p{
            width:230px;
        }
        .hero__containerCarousel-shadow{
            height: 70px;
        }
        .hero__containerCarousel-shadow::before{
            width:100px;
            height:70px;

        }
        .hero__containerCarousel-shadow::after{
            width:100px;
            height:70px;

        }    
    }
</style>
