@font-face {
    font-family: "Orbitron";
    src: url("/public/fonts/Orbitron_font.ttf") format("truetype");
    font-weight: 800, 600;
    font-style:normal;
    font-display:swap;
}
.buttonContact{
    background-color: transparent;
    color:var(--color-light2);
    border:none;
    cursor:pointer;
    position:relative;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.buttonContact__content{
    background-color:transparent;
    border-radius:30px;
    padding:10px 20px;
    border:none;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:auto;
    width: 100%;
    height: 100%;
    cursor:pointer;
    position:relative;
    overflow: hidden;
}
.buttonContact__border{
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(to left, var(--color-main1), var(--color-main2));
    border-radius:30px;
    transition:box-shadow .2s
}
.buttonContact__border::after{
    content:'';
    position: relative;
    display:block;
    top:3px;
    left:3px;
    width:calc(100% - 6px);
    height:calc(100% - 6px);
    border-radius: 20px;
    background-color: var(--bg-dark1);
}
.buttonContact__content::before{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 30px;
    z-index: 1;
    background:linear-gradient(30deg, var(--color-main1), var(--color-main2));
    transform:translateX(calc(-100% - 10px));
    transition: transform .3s ease-in-out;
}
.buttonContact__content:hover::before{
    transform: translateX(0);
    
}
.buttonContact:hover .buttonContact__border{
    box-shadow: 20px 0px 50px var(--color-main1), -20px 0px 50px var(--color-main2);
    opacity: .7;
}
.buttonContact__content p{
    font-size:1.1rem;
    font-family:'Orbitron';
    font-weight:600;
    position:relative;
    z-index: 3;
}
.buttonContact__icon{
    font-size:1.7rem;
    position:relative;
    z-index: 3;
}

 @media screen and (max-width: 768px){
    .buttonContact__content p{
        font-size:1rem;
    }
    
}
@media screen and (max-width:480px){
     .buttonContact__content p{
        font-size:.8rem;
    }
    .buttonContact__icon{
        font-size:1.2rem;
    }
    .buttonContact:hover .buttonContact__border{
        box-shadow: 10px 0px 30px var(--color-main1), -10px 0px 30px var(--color-main2);
    }     
}