.contactLeft{
    width:350px;

}
.contactLeft h3{
    font-size:1.5rem;
    padding-left:10px;
    position:relative
}
.contactLeft h3::before{
    content:'';
    display: block;
    width:3px;
    height:30px;
    background-color: var(--color-main2);
    position:absolute;
    left:-5px;
    top:0;
}
.contactLeft form{

}
.form__group{
    padding:15px 0;
    display:flex;
    flex-direction: column;
    position: relative;
}
.form__group label{
    padding:10px 0
}
.form__group input{
    padding:10px;
    border:none;
    outline: none;
    background-color:transparent;
    border-radius: 3px;
    border:1px solid var(--color-light2);
    font-size:1rem;
    color:var(--color-light2);
    font-family: 'Inter', sans-serif;
    }
.form__group textarea{
    height:70px;
    resize: none;
    outline:none;
    padding:10px;
    border-radius: 3px;
    border:1px solid var(--color-light2);
    font-size:1rem;
    background-color: transparent;
    color:var(--color-light2);
    font-family: 'Inter', sans-serif;
}

.formButton{
    margin-top:20px;
    padding:10px 30px;
    border:2px solid transparent;
    border-radius:10px;
    background-color: var(--color-main2);
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: bold;
    gap:15px;
    transition: all .3s;
    cursor:pointer;
}
.formButton:hover{
    background-color: transparent;
    border:2px solid var(--color-main1);
    color:var(--color-light2)
}
.formButton p{
    font-size:1.2rem
}
.formButton__icon{
    font-size:1.2rem;
}

.errorMessage{
    display:flex;
    align-items: center;
    justify-content: start;
    gap:10px;
    padding:10px 5px;
    color:tomato;
    font-size: .8rem;
    position:absolute;
    bottom:-15px;
}
.errorMessage__icon{
    font-size: .9rem;
}
.form__group input:-webkit-autofill {
    background-color: var(--bg-dark1) !important;
    -webkit-box-shadow: 0 0 0 1000px var(--bg-dark1) inset !important;
    box-shadow: 0 0 0 1000px var(--bg-dark1) inset !important;
    -webkit-text-fill-color: white !important;
}
.form__group input:focus,
.form__group input:valid {
    border: 1px solid var(--color-main1);
}
.form__group textarea:focus,
.form__group textarea:valid {
    border: 1px solid var(--color-main1);
}
@media screen and (max-width: 768px){
    .contactLeft h3{
        font-size:1.2rem;
    }
    .contactLeft h3::before{
        height:20px;
    }
    .form__group input{
        padding:7px;
        font-size:1rem;
    }
    .form__group textarea{
        height:60px;
        padding:7px;
        font-size:1rem;
    }

    .formButton{
        padding:7px 25px;
        gap:10px;
        border-radius:7px;
    }
    .formButton p{
        font-size:1.1rem
    }
    .formButton__icon{
        font-size:1.1rem;
    }
}
@media screen and (max-width:480px){
    .contactLeft h3{
        font-size:1.1rem;
    }
    .contactLeft{
        width:300px
    }
    .form__group label{
        padding:5px 0;
        font-size:.9rem
    }
    .form__group input{
        padding:5px;
        font-size:.9rem;
    }
    .form__group textarea{
        height:60px;
        padding:5px;
        font-size:.9rem;
    }

    .formButton{
        padding:5px 20px;
        gap:7px;
        border-radius:5px;
    }
    .formButton p{
        font-size:1rem
    }
    .formButton__icon{
        font-size:1rem;
    }
}