.contactLeft{
    width:500px;

}
.contactLeft h3{
    font-size:1.5rem
}
.contactLeft form{

}
.form__group{
    padding:15px 0;
    display:flex;
    flex-direction: column;
    position: relative;
}
.form__group label{
    padding:10px 0
}
.form__group input{
    padding:10px;
    border:none;
    outline: none;
    background-color:transparent;
    border-radius: 3px;
    border:1px solid #acacac;
    font-size:1rem;
    color:rgb(189, 189, 189);
    font-family: 'Inter', sans-serif;
    }
.form__group textarea{
    height:70px;
    resize: none;
    outline:none;
    padding:10px;
    border-radius: 3px;
    border:1px solid #acacac;
    font-size:1rem;
    background-color: transparent;
    color:rgb(189, 189, 189);
    font-family: 'Inter', sans-serif;
}

.formButton{
    margin-top:20px;
    padding:10px 30px;
    border:2px solid transparent;
    border-radius:10px;
    background-color: slateblue;
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: bold;
    gap:15px;
    transition: all .3s;
    cursor:pointer;
}
.formButton:hover{
    background-color: transparent;
    border:2px solid steelblue;
    color:whitesmoke
}
.formButton p{
    font-size:1.2rem
}
.formButton__icon{
    font-size:1.2rem;
}

.errorMessage{
    display:flex;
    align-items: center;
    justify-content: start;
    gap:10px;
    padding:10px 5px;
    color:tomato;
    font-size: .8rem;
    position:absolute;
    bottom:-15px;
}
.errorMessage__icon{
    font-size: .9rem;
}
.form__group input:-webkit-autofill {
    background-color: #121212 !important;
    -webkit-box-shadow: 0 0 0 1000px #121212 inset !important;
    box-shadow: 0 0 0 1000px #121212 inset !important;
    -webkit-text-fill-color: white !important;
}
.form__group input:focus,
.form__group input:valid {
    border: 1px solid slateblue;
}
.form__group textarea:focus,
.form__group textarea:valid {
    border: 1px solid slateblue;
}