.faqsCard{
    margin:20px 0;
    border-bottom:1px solid var(--color-light2);
}
.faqsCard__header{
    width:100%;
    height:min-content;
    padding:10px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor:pointer
}
.faqsCard__header>h3{
    color:var(--color-dark1)
}
.faqsCard__header-icon{
    font-size: 26px;
    color:var(--color-dark1);
    cursor:pointer;
    transition: transform 0.2s ease-in-out;
    transform:rotate(180deg);
}
.faqsCard__header-icon--select{
    font-size: 26px;
    color:var(--color-dark1);
    cursor:pointer;
    transition: transform 0.2s ease-in-out;
    transform:rotate(0deg)
}
.faqsCard__content{
    padding:0px 0;
    max-height:0;
    transition: all 0.4s ease-in-out;
    overflow:hidden;

}
.faqsCard__content-select{
    max-height: 100px;
    padding:10px 0;
    transition: all 0.4s ease-in-out;
}
.faqsCard p{
    color:var(--color-dark2)
}
@media screen and (max-width: 768px){
    .faqsCard__header>h3{
        font-size:1rem
    }
    .faqsCard__header-icon, .faqsCard__header-icon--select{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:480px){
    .faqsCard__header>h3{
        font-size:.9rem
    }
    .faqsCard__header-icon, .faqsCard__header-icon--select{
        font-size: 1.2rem;
    }
    .faqsCard p{
        font-size:.8rem
    }   
}