@font-face {
    font-family: 'Orbitron';
    src: url('/public/fonts/Orbitron_font.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
footer{
    margin-top:70px;
}
.footerTop{
    display:flex;
    align-items: start;
    justify-content: space-around;
    padding:50px 70px;
    background-color: rgb(19, 19, 19);
    color:whitesmoke
}
.footerTop__main{
    width:350px;
}
.footerTop__contact{
    
}
.footerTop__contact ul{
    margin-top:15px;
    

}
.footerTop__contact ul>li{
    margin:20px 0;
    display:flex;
    align-items: center;
    justify-content: start;
    gap:10px
}
.footerTop__follow{

}
.footerTop__follow h2{
    margin-bottom:20px;
}
.footerTop__follow ul{
    width:150px;
    display: flex;
    flex-wrap: wrap;
    gap:15px
}
.footerTop__follow ul>li{
    list-style: none;
    transition: all .3s
}
.footerTop__follow ul>li:hover{
    transform:scale(1.2);
}
.footerTop__follow ul>li>a{
    color:whitesmoke;
    text-decoration: none;

}
.footerBottom{
    padding:20px;
    text-align: center;
}

.footer-icon{
    font-size:20px
}