@font-face {
    font-family: 'Orbitron';
    src: url('/public/fonts/Orbitron_font.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}
footer{
    margin-top:70px;
}
.footerTop{
    display:flex;
    align-items: start;
    justify-content: space-around;
    padding:50px 70px;
    background-color: rgb(0, 0, 0);
    color:whitesmoke;
}
.footerTop__main{
    width:350px;
}
.footerTop__main>p{
    color:var(--color-light2)
}
.footerTop__side{
    display:flex;
    justify-content:space-between
}
.footerTop__contact{
    
}
.footerTop__contact ul{
    margin-top:15px;
    

}
.footerTop__contact ul>li{
    margin:20px 0;
    display:flex;
    align-items: center;
    justify-content: start;
    gap:10px;
    color:var(--color-light2)
}
.footerTop__follow{

}
.footerTop__follow h2{
    margin-bottom:20px;
}
.footerTop__follow ul{
    width:150px;
    display: flex;
    flex-wrap: wrap;
    gap:15px
}
.footerTop__follow ul>li{
    list-style: none;
    transition: all .3s
}
.footerTop__follow ul>li:hover{
    transform:scale(1.2);
}
.footerTop__follow ul>li:hover>a{
    color:var(--color-light1)
}
.footerTop__follow ul>li>a{
    color:var(--color-light2);
    text-decoration: none;
    transition: color .3s;

}
.footerBottom{
    padding:20px;
    text-align: center;
    background-color: var(--color-main1);
    color:var(--color-dark1);
    font-weight:bold
}
.footer-icon{
    font-size:20px
}
@media screen and (max-width: 1100px){
    .footerTop{
        flex-wrap:wrap;
        gap:50px
    }
    .footerTop__side{
        gap:40px
    }
}
@media screen and (max-width: 768px){
    .footerTop__main p{
        font-size:.9rem
    }
    .footerTop__side{
        flex-direction:column
    }
    .footerTop__contact h2{
        font-size:1.2rem
    }
    .footerTop__contact p{
        font-size:.9rem
    }
    .footerTop__follow h2{
        font-size:1.2rem
    }
    .footerBottom{
        font-size:.9rem
    }
    .footerTop__follow ul{
        width:100%;
    }
    
}
@media screen and (max-width:480px){ 
    .footerTop__main p{
        font-size:.8rem
    }
    .footer-icon{
        font-size:1.1rem
    }
    .footerBottom{
        font-size:.8rem
    }
}