.formButton{
    padding:10px 30px;
    border:2px solid transparent;
    border-radius:10px;
    background-color: slateblue;
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-weight: bold;
    gap:15px;
    transition: all .3s;
    cursor:pointer;
}
.formButton:hover{
    background-color: transparent;
    border:2px solid steelblue;
    color:whitesmoke
}
.formButton p{
    font-size:1.2rem
}
.formButton__icon{
    font-size:1.2rem;
}