.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color:var(--bg-dark1);
    position:fixed;
    top:0;
    left:0;
    z-index: 5;
}
.header__nav ul{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    width:500px;
}

.header__nav ul>li{
    list-style: none;
    padding-bottom:5px;
    overflow: hidden;
}
.header__nav ul>li>a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 1.2rem;
    font-weight: 300;
    position:relative;
    transition: color .3s ease;
}
.header__nav ul>li>a:hover{
    color:#0070f3;
}
.header__nav ul>li>a::before{
    content:'';
    position:absolute;
    bottom:-5px;
    left:0;
    width: 100%;
    height:2px;
    border-radius:1px;
    background-color: var(--color-main2);
    transform:translateX(-100%);
    transition:transform .3s
}
.header__nav ul>li>a:hover::before{
    transform:translateX(0)
}
.menuToggle {
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 0;
    margin:10px 20px;

}
.menuToggle__line {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: whitesmoke;
    transition: all 0.3s;
    position: relative;
}

.menuToggle__line:nth-child(1) {
  transform: translateY(0) rotate(0);
}
.menuToggle__line:nth-child(2) {
  opacity: 1;
}
.menuToggle__line:nth-child(3) {
  transform: translateY(0) rotate(0);
}

.menuToggle__line-actived:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menuToggle__line-actived:nth-child(2) {
  opacity: 0;
}
.menuToggle__line-actived:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.header__nav-ul-enabled{
    transform: translateX(100%);
    
}
.header__nav-ul-disabled{
    transform: translateX(0);
    transition: transform .3s;
}
@media screen and (min-width: 769px) {
    .header__nav-ul{
        transform: none;
    }
    
}
@media screen and (max-width: 768px){
    .header__nav ul{
        flex-direction: column;
        position:absolute;
        top:0;
        right:0;
        height: 100vh;
        width:300px;
        padding:40px 0 40% 0;
        background-color: var(--bg-dark1);
    }
    .header__nav ul>li>a{
        font-size:1rem
    }
    .menuToggle {
        height: 20px;
        display:flex;
        margin:10px;
    }
    
}
@media screen and (max-width:480px){
    .header__nav ul{
        width:200px;
    }
    .menuToggle {
        margin:5px 10px;
    }
        
}