.servicesCard{
    text-align:center;
    width:350px;
    height:min-content;
    background-color: rgba(36, 58, 105, 0.068);
    border:1px solid rgb(25, 46, 63);
    border-radius:10px;
    padding:10px 40px;
    position:relative;
    z-index:3;
    box-shadow:0px 0px 3px slateblue;
    backdrop-filter: blur(10px);
    overflow:hidden
}
.servicesCard>h4{
    text-align: start;
    margin:5px 0;
    color:var(--color-main1)
}
.servicesCard>h2{
    margin:10px 0;
    background:linear-gradient(to left, white,gold);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.servicesCard>p{
    width: 200px;
    font-size:.9rem;
    margin:auto;
    color:var(--color-light2)
}
.servicesCard__list{
    margin:10px auto;
    height:220px
}
.servicesCard__list-item{
    display:flex;
    align-items:center;
    gap:5px;
    margin:15px 0
    
}
.servicesCard__list-item>p{
    font-size:.85rem;
}
.servicesCard__list-iconCheck{
    color:rgb(32, 138, 32);
    font-size:.8rem
}
@media screen and (max-width: 920px){
    .servicesCard{
        width:300px
    }
}
@media screen and (max-width: 768px){
    

}
@media screen and (max-width:480px){
    .servicesCard{
        width:300px
    }
    .servicesCard>h4{
        font-size:.8rem
    }
    .servicesCard>h2{
        font-size:1.2rem
    }
    .servicesCard>p{
        font-size:.8rem;
    }
    .servicesCard__list-item>p{
        font-size:.8rem;
    }
}