.servicesCard{
    text-align:center;
    width:350px;
    height:min-content;
    border:1px solid rgb(151, 151, 151);
    border-radius:10px;
    padding:10px 40px
}
.servicesCard>h4{
    text-align: start;
    margin:5px 0
}
.servicesCard>h2{
    margin:10px 0
}
.servicesCard>p{
    width: 200px;
    font-size:.9rem;
    margin:auto
}
.servicesCard__list{
    margin:10px auto;
    height:220px
}
.servicesCard__list-item{
    display:flex;
    align-items:center;
    gap:5px;
    margin:15px 0
    
}
.servicesCard__list-item>p{
    font-size:.85rem;
}
.servicesCard__list-iconCheck{
    color:rgb(32, 138, 32);
    font-size:.8rem
}