.socialCard{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.socialCard__icon{
    font-size: 35px;
    color: rgb(214, 214, 214)
}
.socialCard__text{
    color: rgb(214, 214, 214);
}