---
import HeroContainer from "../components/Hero/HeroContainer.astro"
import Info from "../components/Info/Info.astro"
import Services from '../components/Services/Services.astro'
import Faqs from '../components/Faqs/Faqs.astro'
import Contact from '../components/Contact/Contact.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/public/images/astrolvl-logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator}/>
		<title>Astro LvL</title>
	</head>
	<body>
		<HeroContainer></HeroContainer>
		<Info></Info>
		<Services></Services>
		<Faqs></Faqs>
		<Contact></Contact>
	</body>
</html>

<style is:global>
	@font-face {
	font-family: 'Inter';
	src: url('/public/fonts/inter_font.ttf') format('truetype');
	font-weight: 100 300 500 900;
	font-style: normal; 
	font-display: swap;
	}
	*{
		margin:0;
		padding:0;
		box-sizing:border-box
	}
	body {
  		font-family: 'Inter', sans-serif;
	}
</style>