---
import HeroContainer from "../components/Hero/HeroContainer.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro LvL</title>
	</head>
	<body>
		<HeroContainer></HeroContainer>
	</body>
</html>

<style is:global>
	@font-face {
	font-family: 'Inter';
	src: url('/public/fonts/inter_font.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal; 
	font-display: swap;
	}
body {
  font-family: 'Inter', sans-serif;
}
</style>