---
import HeroContainer from "../components/Hero/HeroContainer.astro"
import Info from "../components/Info/Info.astro"
import Services from '../components/Services/Services.astro'
import Faqs from '../components/Faqs/Faqs.astro'
import Contact from '../components/Contact/Contact.astro'
import {Footer} from '../components/Footer/Footer.jsx'
import { Header } from "../components/Hero/Header"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/icon-astro(circle-dark).png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator}/>
		<title>Agencia Web | Desarrollo de Páginas Web</title>
	</head>
	<body>
		<Header client:load/>
		<HeroContainer></HeroContainer>
		<Info></Info>
		<Services></Services>
		<Faqs></Faqs>
		<Contact></Contact>
		<Footer></Footer>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Inter';
		src: url('/public/fonts/inter_font.ttf') format('truetype');
		font-weight: 100 300 500 900;
		font-style: normal; 
		font-display: swap;
	}
	:root{
		--color-main1:#2d7ec5;
		--color-main2:#452385;
		--bg-light1:rgb(255,255,255);
		--bg-dark1:#09090b;
		--color-light1:white;
		--color-light2:rgb(192, 190, 190);
		--color-dark1:rgb(18, 18, 18);
		--color-dark2:rgb(48, 48, 48);
	}
	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	body {
  		font-family: 'Inter', sans-serif;
		position:relative;
		z-index: 1;
		background-color: var(--bg-dark1);
        color:var(--color-light1);
		overflow-x: hidden;
	}
</style>