---
import ContactLeft from "./ContactLeft.astro"
import ContactRight from "./ContactRight.astro"
---
<section class="contact">
    <h2>Contacto</h2>
    <div class="contact__side">
        <ContactLeft></ContactLeft>
        <ContactRight></ContactRight>
    </div>
</section>
<style>
    
</style>