---
import {SocialCard} from './SocialCard.jsx';
---
<div class="contactRight">
    <h3>Redes de comunicacion</h3>
    <div class="contactRight__cards">
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
    </div>
</div>