<div class="contactLeft">
    <h3>Enviame un mensaje</h3>
    <form action="">
        <div class="form__group">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form__group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form__group">
            <label for="message">Mensaje</label>
            <textarea id="message" name="message" required></textarea>
        </div>
        <button type="button">Enviar</button>
    </form>
</div>