---
import {SocialCard} from './SocialCard.jsx';
---
<div class="contactRight">
    <h3>Redes de comunicacion</h3>
    <div class="contactRight__cards">
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
        <SocialCard></SocialCard>
    </div>
</div>
<style>
    .contactRight{
        width:400px;
        
    }
    .contactRight>h3{
       
    }
    .contactRight__cards{
        display:flex;
        align-items: start;
        flex-direction:column;
        margin:40px 0;
        gap:30px
    }
</style>