<div class="header__logo">
    <img src="/public/images/astrolvl-logo.png" alt="logo_main" class="header__logo-img" width="50" height="50"/>
    <p>ASTRO LvL</p>
</div>
<style>
    @font-face {
        font-family: "Orbitron";
        src: url("/public/fonts/Orbitron_font.ttf") format("truetype");
        font-weight: 800;
        font-style:normal;
        font-display:swap;
    }
    .header__logo{
        display:flex;
        align-items: center;
        margin:10px;
        gap:10px;
        cursor:default
    }
    .header__logo-img{
        
    }
    .header__logo p{
        font-size: 1.3rem;
        font-family: "Orbitron";
        font-weight:800;
    }
</style>