---
import {FaqsCard} from "./FaqsCard.jsx"
---
<section class="faqs">
    <h2>Preguntas Frecuentes</h2>
    <div class="faqs__cards">
        <FaqsCard/>
        <FaqsCard/>
        <FaqsCard/>
        <FaqsCard/>
        <FaqsCard/>
    </div>
</section>
<style>

</style>